@font-face {
    src: url('CursedTimerUlil-Aznm.ttf');
    font-family: CursedTimer;
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.blackbox {
    height: 120px;
    width: 170px;
    background-color: black;
    display: block;
    border-radius: 20px;
}

.points {
    color: red;
    font-family: CursedTimer, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 59px;
    line-height: 2em;
}

button {
    border-radius: 5px;
}

.pointsbutt {
    font-family: CursedTimer, sans-serif;
    margin-top: 20px;
    margin-inline: 10px;
    border: 2px solid #9AABD8;
    background-color: transparent;
    color: #9AABD8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.resetbutt {
    font-weight: 600;
    width: 120px;
    color: #9AABD8;
    background-color: transparent;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
    border: 2px solid #9AABD8;
}




h3 {
    font-size: 40px;
    line-height: 35.89px;
    font-style: bold;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#home-header {
    color: rgba(222, 222, 9, 0.658);
}

#guest-header {
    color: rgba(222, 222, 9, 0.658);
}